# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual env
.venv/
env/
venv/
ENV/

# Node / Next.js
node_modules/
.next/
dist/
out/
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local
next-env.d.ts

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project-specific
uploaded_pdfs/
